@page "/courses"
@using LMS.Blazor.Data
@using LMS.Blazor.Components
@inject CommonApiService CommonService;
@inject NavigationManager NavigationManager

<div class="d-flex justify-content-between">
    <div class="h2">Courses</div>
    <div>
        <button class="btn btn-success p-2" @onclick="ShowAddDialog"><span class="oi oi-plus" aria-hidden="true"></span></button>
    </div>
</div>
<!--Modal-->
<AddCourse @ref="AddDialog" CloseEventCallback="@CourseAdded"></AddCourse>

@if (courses != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Pref. Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses)
            {
                <tr @onclick=@(() => CourseClick(course.Id))>
                    <td>
                        @course.Name
                    </td>
                    <td>
                        @course.PrefYear
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Course[] courses;
 
     public AddCourse AddDialog = new AddCourse();


    protected void ShowAddDialog()
    {
        AddDialog.Show();
    }

    protected override async Task OnInitializedAsync()
    {
        courses = await CommonService.GetCourses();
    }

    protected async Task CourseAdded(Course course)
    {
        if (course != null && course.Name != string.Empty)
        {
            courses = await CommonService.GetCourses();            
        }
    }

    private void CourseClick(Guid id)
    {
        NavigationManager.NavigateTo($"courseDetails/{id}", false);
    }
}